@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

 
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body { margin:0; padding:0; background: #fff; word-break:break-word;}
body { width: 100%; height: 100%; font-family: 'Poppins', 'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif; font-size:16px; line-height: 1.5; color:#212121; font-weight: 400; letter-spacing: -0.25px; -webkit-text-size-adjust: 100%; overflow-x: hidden}
*,::after,::before { box-sizing: border-box}

/*------------------------------------------------------------------------------
Reset
------------------------------------------------------------------------------*/
div, p, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, textarea, blockquote{ padding:0; margin:0;}
form, fieldset, button	{ border:none;}
hr	{ display:none;}
ul, dl, ol, li, dt, dd { list-style: none}
caption	{ display:none}
img { vertical-align:middle; padding: 0; margin: 0; border:0;}
img.flxImg{ max-width: 100%;}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block}
figure { margin: 0}
address	{ font-weight: normal; font-style: normal}
em, i	{ font-style: normal}
hr { display: none;height: 0; border: 0; margin: 0; padding: 0;}
blockquote, q{ quotes: none;}
blockquote::before, blockquote::after, q::before, q::after{ content: ''; content: none;}
legend, caption, .invisible{ width:0; height:0; padding:0; font-size:0; line-height:0; overflow:hidden; position:absolute; visibility:hidden}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;}
.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; overflow: visible; clip: auto; white-space: normal;}
input[type="radio"].hidden, input[type="checkbox"].hidden { overflow: hidden; position: absolute; width: 0; height: 0; border: 0 none; font-size: 0; line-height: 0; left: -9999px}
 
html,body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, button, select, textarea, p, blockquote, address, table, th, td, a, 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, h1,h2,h3,h4,h5,h6, b, strong,span, em, i, a,pre{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

h1, h2, h3, h4, h5, h6, strong	{ font-weight:500}

table { width:100%;  border-collapse:collapse; border-spacing:0;}

a:link, a:visited { text-decoration:none; color:#212121;}
a:hover {cursor: pointer;}
a:hover, a:focus, a:active { text-decoration:none;}
a:focus, img:focus, input:focus, button:focus, select:focus, textarea:focus { outline: 0;}

object, embed, video { max-width: 100%;}
button { font-family:'Poppins', 'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif}
button[type=button] { cursor: pointer;}

select { -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; border: 1px solid #d0d0d0;}
select::-ms-expand { display:none}
textarea { -webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; border: 1px solid #d0d0d0;}

input, textarea, select { font-family:'Poppins', 'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif; font-size:15px; color:#000;}
input[type=radio],input[type=checkbox],input[type=image]{ padding:0; height:auto;}
input[type=file]{ height:28px; background-color:#FFFFFF;}
input[type=button]{ }
input[type=checkbox], input[type=radio], input[type=text]	{ vertical-align:middle}

input[type=password]::-ms-clear, 
input[type=password]::-ms-reveal, 
input[type=text]::-ms-clear, 
input[type=text]::-ms-reveal { display:none; width:0; height:0}

input::placeholder { color: #acacac; font-weight: 400 !important; opacity: 1}
input::-webkit-input-placeholder{ color: #acacac; font-weight: 400 !important;} 
input:-ms-input-placeholder { color: #acacac; font-weight: 400 !important;}
input:-mos-input-placeholder { color: #acacac; font-weight: 400 !important;}

textarea { overflow: auto; vertical-align: top; resize: vertical;}
textarea::placeholder { color: #acacac !important; font-weight: 400 !important;}
textarea::-webkit-input-placeholder { color: #acacac !important; font-weight: 400 !important;} 
textarea:-ms-input-placeholder { color: #acacac !important; font-weight: 400 !important;}
textarea:-mos-input-placeholder{ color: #acacac !important; font-weight: 400 !important;}

/* 크롬 autofill css 없애기(input focus시 bg 없애기) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s;
	-webkit-text-fill-color: #212121 !important;
}

/* input type number 화살표 없애기
	input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
	input[type=number]{-moz-appearance:textfield}
*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}

/*------------------------------------------------------------------------------
Common
------------------------------------------------------------------------------*/
/* Font-Family */
.Noto { font-family: 'Noto Sans KR' !important;}
.Roboto { font-family: 'Roboto' !important;}

/* Font-Weight */
.bold4 { font-weight:400 !important}
.bold5 { font-weight:500 !important}
.bold6 { font-weight:600 !important}
.bold7 { font-weight:700 !important}
.bold8 { font-weight:800 !important}
.bold9 { font-weight:900 !important}
.normal { font-weight:normal !important}

/* 좌우 */
.f-left { float: left !important}
.f-right { float: right !important}
.f-none { float: none !important}
.clear { clear: both !important}
.clearfix::after { display: block; clear: both; content: ""}
.t-left { text-align: left !important;}
.t-center { text-align: center !important;}
.t-right { text-align: right !important;}
.v-middle { vertical-align: middle !important}

.hand { cursor: pointer !important}
.hand-no { cursor: default !important}
.underline { text-decoration: underline !important;}

/* Position  */
.p-rel { position:relative !important}
.fixed { position:fixed !important;}

/* Display */
.d-none { display: none !important;}
.d-block { display: block !important;}
.d-inline { display: inline !important;}
.d-inblock { display: inline-block !important;}
.d-tr { display: table-row !important;}

.b-radius-20 { border-radius: 20px !important}

/* Flex */
.d-flex { display:flex !important}
.ai-center { align-items: center !important}
.jc-center { justify-content: center !important}
.f-nowrap { flex-wrap: nowrap !important}
.flex1 { flex: 1}
.flex2 { flex: 2}
.flex3 { flex: 3}
 
/* Line-Height */
.lh18 { line-height: 18px !important}
.lh20 { line-height: 20px !important}
.lh24 { line-height: 24px !important}
.lh30 { line-height: 30px !important}

/* Letter-Spacing */
.ls-0 { letter-spacing: 0 !important}
.ls--05 { letter-spacing: -0.5px !important}
.ls--1 { letter-spacing: -1px !important}
.ls--2 { letter-spacing: -2px !important}

/* font-size */
.fs11	{ font-size:11px !important;}
.fs12	{ font-size:12px !important;}
.fs13	{ font-size:13px !important;}
.fs14	{ font-size:14px !important;}
.fs15	{ font-size:15px !important;}
.fs16	{ font-size:16px !important;}
.fs17	{ font-size:17px !important;}
.fs18	{ font-size:18px !important;}
.fs19	{ font-size:19px !important;}
.fs20	{ font-size:20px !important;}
.fs22	{ font-size:22px !important;}
.fs24	{ font-size:24px !important;}

/* border */
.bl-0 { border-left: 0 !important}
.br-0 { border-right: 0 !important}
.border-0 { border: 0 !important}
.bb-0 { border-bottom: 0 !important}

/* Color */
.c-base { color: #212121 !important}
.c-blue { color: #3c74de !important}
.c-indigo { color: #6610f2 !important}
.c-purple { color: #6f42c1 !important}
.c-pink { color: #d63384 !important}
.c-red { color: #dc3545 !important}
.c-orange { color: #fb5b0d !important}
.c-yellow { color: #ffc107 !important}
.c-green { color: #198754 !important}
.c-teal { color: #20c997 !important}
.c-cyan { color: #0dcaf0 !important}
.c-white { color: #fff !important}
.c-gray9 { color: #999 !important}
.c-gray { color: #6c757d !important}
.c-gray-dark { color: #343a40 !important}
.c-primary { color: #3c74de !important}
.c-secondary { color: #6c757d !important}
.c-success { color: #198754 !important}
.c-info { color: #0dcaf0 !important}
.c-warning { color: #ffc107 !important}
.c-danger { color: #dc3545 !important}
.c-light { color: #f8f9fa !important}
.c-dark { color: #212529 !important}
.c-balck { color: #000 !important}

/* Background */
.bg-fb { background: #fbfbfb}
.bg-f5 { background: #f5f5f5}

/* Width */
.w-auto { width: auto !important;}
.w15p { width: 15% !important;}
.w20p { width: 20% !important;}
.w25p { width: 25% !important;}
.w30p { width: 30% !important;}
.w40p { width: 40% !important;}
.w48p { width: 48% !important;}
.w49p { width: 49% !important;}
.w50p { width: 50% !important;}
.w52p { width: 52% !important;}
.w55p { width: 55% !important;}
.w56p { width: 56% !important;}
.w57p { width: 57% !important;}
.w60p { width: 60% !important;}
.w70p { width: 70% !important;}
.w80p { width: 80% !important;}
.w85p { width: 85% !important;}
.w86p { width: 86% !important;}
.w87p { width: 87% !important;}
.w90p { width: 90% !important;}
.w91p { width: 91% !important;}
.w92p { width: 92% !important;}
.w93p { width: 93% !important;}
.w95p { width: 95% !important;}
.w96p { width: 96% !important;}
.w97p { width: 97% !important;}
.w98p { width: 98% !important;}
.w99p { width: 99% !important;}
.w100p { width: 100% !important;}

.w90 { width: 90px !important;}
.w300 { width: 300px !important;}
.w350 { width: 350px !important;}
.w400 { width: 400px !important;}
.w420 { width: 420px !important;}
.w620 { width: 620px !important;}

 /* Height */
.h100p { height: 100% !important}
.h100v { height: 100vh !important}

/* Padding */
.p0{ padding:0 !important;}
.p3{ padding:3px !important;}
.p5{ padding:5px !important;}
.p10{ padding:10px !important;}
.p15{ padding:15px !important;}
.p20{ padding:20px !important;}
.p30{ padding:30px !important;}
.p40{ padding:40px !important;}
.p50{ padding:50px !important;}

.pt0{ padding-top:0 !important}
.pt3{ padding-top:3px !important;}
.pt5{ padding-top:5px !important}
.pt7{ padding-top:7px !important;}
.pt10{ padding-top:10px !important}
.pt15{ padding-top:15px !important}
.pt20{ padding-top:20px !important}
.pt25{ padding-top:25px !important}
.pt30{ padding-top:30px !important}

.pt40{ padding-top:40px !important}
.pt50{ padding-top:50px !important}

.pr0{ padding-right:0 !important;}
.pr3{ padding-right:3px !important;}
.pr5{ padding-right:5px !important;}
.pr7{ padding-right:7px !important;}
.pr10{ padding-right:10px !important;}
.pr15{ padding-right:15px !important;}
.pr20{ padding-right:20px !important;}
.pr30{ padding-right:30px !important;}
.pr40{ padding-right:40px !important;}
.pr45{ padding-right:45px !important;}
.pr50{ padding-right:50px !important;}

.pb0{ padding-bottom:0 !important}
.pb3{ padding-bottom:3px !important}
.pb5{ padding-bottom:5px !important}
.pb7{ padding-bottom:7px !important}
.pb10{ padding-bottom:10px !important}
.pb15{ padding-bottom:15px !important}
.pb20{ padding-bottom:20px !important}
.pb25{ padding-bottom:25px !important}
.pb30{ padding-bottom:30px !important}
.pb40{ padding-bottom:40px !important}
.pb50{ padding-bottom:50px !important}
.pb60{ padding-bottom:60px !important}
.pb70{ padding-bottom:70px !important}
.pb80{ padding-bottom:80px !important}

.pl0{ padding-left:0 !important;}
.pl3{ padding-left:3px !important;}
.pl5{ padding-left:5px !important;}
.pl7{ padding-left:7px !important;}
.pl10{ padding-left:10px !important;}
.pl15{ padding-left:15px !important;}
.pl20{ padding-left:20px !important;}
.pl24{ padding-left:24px !important;}
.pl30{ padding-left:30px !important;}
.pl40{ padding-left:40px !important;}
.pl50{ padding-left:50px !important;}

/* Margin */
.m-auto { margin-left:auto; margin-right:auto}
.m0{ margin:0 !important;}
.m3{ margin:3px !important;}
.m5{ margin:5px !important;}
.m10{ margin:10px !important;}
.m20{ margin:20px !important;}
.m30{ margin:30px !important;}
.m40{ margin:40px !important;}
.m50{ margin:50px !important;}

.mt0 { margin-top: 0px !important;}
.mt1 { margin-top: 1px !important;}
.mt2 { margin-top: 2px !important;}
.mt3 { margin-top: 3px !important;}
.mt5 { margin-top: 5px !important;}
.mt8 { margin-top: 8px !important;}
.mt10 { margin-top: 10px !important;}
.mt12 { margin-top: 12px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt22 { margin-top: 22px !important;}
.mt23 { margin-top: 23px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt35 { margin-top: 35px !important;}
.mt40 { margin-top: 40px !important;}
.mt50 { margin-top: 50px !important;}

.ml-auto { margin-left: auto !important}
.ml0{ margin-left:0 !important}
.ml2{ margin-left:2px !important}
.ml3{ margin-left:3px !important;}
.ml5{ margin-left:5px !important;}
.ml7{ margin-left:7px !important;}
.ml10{ margin-left:10px !important;}
.ml15{ margin-left:15px !important;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
.ml33{ margin-left:33px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important}
.ml55{ margin-left:55px !important}
.ml60{ margin-left:60px !important}
.ml80{ margin-left:80px !important}
.ml100{ margin-left:100px !important}
.ml150{ margin-left:150px !important;}
.ml190{ margin-left:190px !important;}

.mr0{ margin-right:0 !important}
.mr1{ margin-right:1px !important}
.mr3{ margin-right:3px !important;}
.mr5{ margin-right:5px !important;}
.mr6{ margin-right:6px !important;}
.mr7{ margin-right:7px !important;}
.mr8{ margin-right:8px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr27{ margin-right:27px !important;}
.mr20{ margin-right:20px !important;}
.mr30{ margin-right:30px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}
.mr60{ margin-right:60px !important;}
.mr43{ margin-right:43px !important;}

.mb0{ margin-bottom:0 !important}
.mb3{ margin-bottom:3px !important;}
.mb5{ margin-bottom:5px !important;}
.mb7{ margin-bottom:7px !important;}
.mb10{ margin-bottom:10px !important}
.mb15{ margin-bottom:15px !important}
.mb20{ margin-bottom:20px !important}
.mb25{ margin-bottom:25px !important}
.mb30{ margin-bottom:30px !important}
.mb40{ margin-bottom:40px !important}
.mb50{ margin-bottom:50px !important}
.mb60{ margin-bottom:60px !important}
.mb70{ margin-bottom:70px !important}
.mb80{ margin-bottom:80px !important}
.mb90{ margin-bottom:90px !important}
.mb100{ margin-bottom:100px !important;}

/*========================================================
Main
========================================================*/
/*** main common ***/
.mainSection { position: relative; padding: 50px 0}
.mainSection h2 { font-size: 50px; font-weight: 800; line-height: 70px; text-align: center;}
.mainSection p.small-tit { font-size: 16px; text-align: center; margin-bottom: 40px; word-break: keep-all;}

.mainSection .btn-more { width:100%; max-width:100%; text-align: center; margin-top: 60px; }
.mainSection .btn-more:after {content:''; display:block; clear:both;}
.mainSection .btn-more a { display: inline-flex; align-items: center; justify-content: center; width:100%; max-width: 220px; height: 55px; font-size:18px; color: #1e1e1e; border:1px solid #494949; background:#fff; border-radius:8px;}
.mainSection .btn-more a i {display:inline-block;margin:0 0 0 5px;}
.mainSection .btn-more a:hover {  color:#fb5b0d;}

@media (max-width: 991px) {
	.mainSection h2 { font-size: 40px; line-height: 60px;}
	.mainSection p.small-tit { font-size: 14px; margin-bottom: 30px}
	.mainSection .btn-more { margin-top: 40px; }
	.mainSection .btn-more a { height:50px; }
}
@media (max-width: 600px) {
	.mainSection { padding: 30px 0;}
	.mainSection h2 { font-size: 33px; line-height: 48px;}
	.mainSection p.small-tit { font-size: 12px; margin-bottom: 25px;}
	.mainSection .btn-more a { width: 150px; height: 40px; font-size: 15px}
}

/*** Visual ***/
#Visual.mainSection { background: #fff;}
/*
#Visual.mainSection:after {content:''; display:block; clear:both;}
#Visual.mainSection:before {position:absolute; left:50%; top:0;content:''; display:block; width:50%; height:100%; background:#fb5b0d; z-index:0;}
#Visual.mainSection.orange:before { background:#fb5b0d;}
#Visual.mainSection.darkblue:before { background:#442cd5; }
#Visual.mainSection.blue:before { background:#1a6ee3;}
#Visual.mainSection.mint:before { background:#11c2ad;}
#Visual.mainSection.purple:before { background:#6439cf;}
#Visual.mainSection.green:before { background:#7cbc37;}
#Visual.mainSection.pink:before { background:#f3405d;}
*/

#Visual .mainBox { display: flex; margin:0 auto;}
#Visual .mainBox:after {content:''; display:block; clear:both;}

@media (max-width: 700px){
	#Visual .mainBox { flex-direction: column}
}

.visual-title { width:40%; }
.visual-title .stit { width:65%; max-width:304px; display: block; font-size: 20px; color: #212121;margin-bottom:25px }
.visual-title .stit img {width:100%;}
.visual-title h3 { display: block; font-size:58px; font-weight:200; color: #212121;padding:0 0 20px; line-height:1.1;}
.visual-title h3 span  { display: block;width:100%; letter-spacing:-2px; }
.visual-title h3 span em{ font-weight:800; font-size:68px;  }
 
.visual-title p { display: block;}
.visual-title p strong { display: inline-block; font-size: 22px; color: #212121; font-weight:400; padding:20px 0 60px;  border-top: 1px solid #212121;  }
.visual-title .btn { width:70%; max-width:280px; height: 74px; border-radius: 0; background:#212121;  border: 1px solid #212121; color:#fff; padding:0 30px }
.visual-title .btn span{ font-size:22px; display:inline-block; width:100%;  display: flex; justify-content:space-between; align-items:stretch; line-height:73px; height:74px; background: url(/assets/images/main/icon_mv_arr.svg) no-repeat right 50%; background-size:24px }
.visual-title .btn span:hover {   color:#fb5b0d;  background: url(/assets/images/main/icon_mv_arr_hover.svg) no-repeat right 50%; background-size:24px }

@media (max-width: 1450px) { 
	.visual-title h3 {  font-size:54px; } 
	.visual-title h3 span em{ font-size:64px;  }
}
@media (max-width: 1400px) { 
	.visual-title h3 {  font-size:50px; } 
	.visual-title h3 span em{ font-size:60px;  } 
}
@media (max-width: 1300px) { 
	.visual-title h3 {  font-size:46px; } 
	.visual-title h3 span  { letter-spacing:-1px; }
	.visual-title h3 span em{ font-size:56px;  }
	.visual-title p strong { font-size: 20px;}
	.visual-title .btn {  height:60px; }
	.visual-title .btn span{ font-size:20px;}	
}
@media (max-width: 1200px) {  
	.visual-title h3 {  font-size:42px; } 
	.visual-title h3 span  {letter-spacing:0; }
	.visual-title h3 span em{ font-size:52px;  }	
	.visual-title .btn span{ font-size:18px;} 
}  
 @media (max-width: 1100px) {  
	.visual-title h3 {  font-size:38px; } 
	.visual-title h3 span em{ font-size:48px;  } 
} 
 @media (max-width:991px) {   
    .visual-title h3 {  font-size:34px; } 
	.visual-title h3 span em{ font-size:44px;  } 
	.visual-title .btn { padding:0 20px }
	.visual-title .btn span{ font-size:16px;}
}
 @media (max-width:900px) { 
	.visual-title h3 {  font-size:32px; }  
	.visual-title h3 span em{ font-size:42px;  }   
	.visual-title p strong { font-size: 18px;}	
}
 @media (max-width:850px) { 
	.visual-title h3 {  font-size:30px; }  
	.visual-title h3 span em{ font-size:40px;  }    
}
 @media (max-width:801px) {  
	.visual-title h3 { font-size: 28px; } 
	.visual-title h3 span em{ font-size:38px;  }
	.visual-title .stit {  margin-bottom:20px } 
	.visual-title p strong {  padding:20px 0 50px; }
}
 @media (max-width:750px) {   
	.visual-title h3 {  font-size:26px; } 
	.visual-title h3 span em{ font-size:36px;  } 
}
@media (max-width: 700px) { 
    #Visual.mainSection:before { left: 0; top:auto; bottom:0; width:100%; height:46%; }
    #Visual .mainBox { display:block;  }
    .visual-title { width:100%; max-width:100%; padding: 0}
	.visual-title .stit { width:56%; max-width:250px; margin-bottom:15px }
	.visual-title h3 {  font-size:48px; } 
	.visual-title h3 span em{ font-size:58px;  }  
	.visual-title p { position:relative;  } 
	.visual-title p:before {position:absolute; left:0;top:0;content:''; display:inline-block; width:50%; max-width:220px;min-width:182px; height:1px; border-top:0;background:#212121; }
	.visual-title p strong {  border-top:0; font-size: 18px;  padding:15px 0 30px 0; }
	.visual-title p strong br {display:none;} 
	.visual-title .btn {  max-width:245px;}
}
@media (max-width: 600px) { 
    #Visual .mainBox { display:block;   } 
	#Visual.mainSection:before {  height:44%; }
}
@media (max-width:500px) { 
	.visual-title h3 {  font-size:46px; }  
	.visual-title h3 span em{ font-size:56px;  }     
	.visual-title .btn span{  background-size:18px}
}
@media (max-width:450px) { 
    #Visual.mainSection:before {  height:40%; }
	.visual-title h3 {  font-size:40px; }  
	.visual-title h3 span em{ font-size:50px;  }    
}
@media (max-width:400px) { 
    #Visual.mainSection:before {  height:38%; }
	.visual-title h3 {  font-size:36px; }  
	.visual-title h3 span em{ font-size:46px;  }    
}
@media (max-width:380px) { 
    #Visual.mainSection:before {  height:36%; }
	.visual-title h3 {  font-size:33px; }  
	.visual-title h3 span em{ font-size:43px;  }    
}
@media (max-width:350px) { 
    #Visual.mainSection:before {  height:36%; }
	.visual-title h3 {  font-size:30px; }  
	.visual-title h3 span em{ font-size:40px;  }    
}
@media (max-width:320px) { 
    #Visual.mainSection:before {  height:34%; }
	.visual-title h3 {  font-size:28px; }  
	.visual-title h3 span em{ font-size:38px;  }    
}
@media (max-width:300px) {  
	.visual-title h3 {  font-size:25px; }  
	.visual-title h3 span em{ font-size:35px;  }    
}

/* visual-con */
.visual-con { position: relative; width:60%; max-width: 960px; padding:640px 0 0 0; }
.visual-con:after {content:''; display:block; clear:both;}
 
.visual-con .swiper { width:100%; height:100%; position:absolute; left:auto; right:0; top: 0; margin:0;  } 
.visual-con .swiper-slide {position:relative; width:100%; height:100%; background-position: center;background-size: cover; overflow:hidden;} 
.visual-con .swiper-slide a  { display: block; width:100%; height: 100%;  } 
.visual-con .swiper-slide a img { display: block; width: 100%; height: 100%; object-fit: cover; object-position: center center; transition: transform 0.3s linear }

.visual-con .mvSwiper .swiper-button-prev {display:none;opacity:0; background-size:22px;left:20px; right: auto;}
.visual-con .mvSwiper .swiper-button-next  {display:none;opacity:0; background-size:22px;  left: auto;right: 20px;}

.visual-con .mvSwiper:hover .swiper-button-next,
.visual-con .mvSwiper:hover .swiper-button-prev {display:inline-block;  animation:opac 0.5s forwards }
.visual-con .mvSwiper .swiper-slide {position:relative;}
.visual-con .mvSwiper .swiper-slide .text-area {position:absolute;  left:0; bottom:0;  width:100%; height:100px;  z-index:1;display: flex; justify-content:space-between; align-items:center;}
.visual-con .mvSwiper .swiper-slide .text-area:before {position:absolute; content:''; display:inline-block;  background:#000; opacity:0.7; width:100%; height:100%; z-index:-1;}
.visual-con .mvSwiper .swiper-slide .text-area .name {width:50%; font-size: 16px; padding:0 20px; display: flex; justify-content:flex-start; align-items:center; }
.visual-con .mvSwiper .swiper-slide .text-area .name span {position:relative; display:inline-block;border-radius:50%; width: 42px; min-width: 42px;height: 42px; margin-right: 10px; overflow: hidden; }
.visual-con .mvSwiper .swiper-slide .text-area .name span img { display: block; width: 100%; height: 100%; object-fit: cover; object-position: center center; transition: transform 0.3s linear  }
.visual-con .mvSwiper .swiper-slide .text-area .name strong { font-size:16px; color:#fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;   }
.visual-con .mvSwiper .swiper-slide .text-area .tit {width:50%;  padding:0 20px; }
.visual-con .mvSwiper .swiper-slide .text-area .tit a { width:100%; font-size:18px; color:#fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:1.2; text-align:right;}

 @media (max-width: 1500px){ 
    .visual-con { padding:50.2% 0 0 0; } 
}
@media (max-width: 1300px){ 
	.visual-con .mvSwiper .swiper-slide .text-area { height:80px; }
} 
@media (max-width: 900px){ 
	.visual-con .mvSwiper .swiper-slide .text-area .name strong { font-size:14px; }
	.visual-con .mvSwiper .swiper-slide .text-area .tit a {  font-size: 16px; } 
}
@media (max-width:700px){
    .visual-con { width:100%; position:relative; padding:100% 0 0 0;  margin:47px 0 0 0;   } 
	.visual-con .mvSwiper .swiper-slide .text-area { height:70px;}
} 
@media (max-width:500px){    
	.visual-con .mvSwiper .swiper-slide .text-area .name span { width: 20px; min-width: 20px;height: 20px; } 
}  
@media (max-width:350px){  
	.visual-con .mvSwiper .swiper-slide .text-area { height:60px;}
}

/*** Visual Ver.2 ***/
/* left */
.visual-left { position: relative; display: flex; flex-direction: column; width: 40%;}
.visual-text { padding-top: 40px}
.visual-text p { font-size: 23px; font-weight: 500; margin-bottom: 10px}
.visual-text h3 { font-size: 60px; font-weight: 700; line-height: 1.1; margin-bottom: 50px}
.visual-text h3 span { display: block}
.visual-text .btn { width: 280px; height: 70px; font-size: 22px; border-radius: 0}
.visual-text .btn.btn-outline-deep:hover, .visual-left .btn.btn-outline-base:focus { color: #fff; background-color: transparent; border-color: #212121}

.btn-rise { position: relative; z-index: 0;}
.btn-rise .btn-rise-bg{ position: absolute; display: block; width: 100%; height: 0; bottom: 0; left: 0; border-radius: 90% 90% 0 0; pointer-events: none; transition: all .65s cubic-bezier(.77, 0, .175, 1); z-index: -1;}
.btn-rise-bg.bg-deep { background: #212121}
.btn-rise .btn-rise-text{ transition: color .4s;}

.btn-rise:hover .btn-rise-bg { height: 100%; border-radius: 0}

@media (max-width: 1800px){
	.visual-text h3 { margin-bottom: 40px}
}
@media (max-width: 1700px){
	.visual-text { padding-top: 0}
	.visual-text p { font-size: 18px;}
	.visual-text h3 { font-size: 54px;}
	.visual-text .btn { width: 220px; height: 66px}
}
@media (max-width: 1500px){
	.visual-left { width: 45%;}
	.visual-text p { font-size: 16px;}
	.visual-text h3 { font-size: 50px; margin-bottom: 30px}
	.visual-text .btn { width: 190px; height: 60px; font-size: 20px}
}
@media (max-width: 1300px){
	.visual-left { width: 50%;}
	.visual-text p { font-size: 15px;}
	.visual-text h3 { font-size: 44px; margin-bottom: 20px}
	.visual-text .btn { width: 170px; height: 50px; font-size: 18px}
}
@media (max-width: 1150px){
	.visual-text p { margin-bottom: 5px}
	.visual-text h3 { font-size: 40px; margin-bottom: 15px}
	.visual-text .btn { width: 150px; font-size: 16px}
}
@media (max-width: 1100px){
	.visual-text .btn { width: 130px; height: 40px}
}
@media (max-width: 1000px){
	.visual-text p { margin-bottom: 0}
	.visual-text h3 { margin-bottom: 10px}
}
@media (max-width: 850px){
	.visual-left { width: 55%;}
	.visual-text p { margin-bottom: 5px}
	.visual-text h3 { font-size: 36px}
}
@media (max-width: 740px){
	.visual-left { width: 60%;}
}
@media (max-width: 700px){
	.visual-left { position: static; width: 100%;}
	.visual-text { text-align: center; margin-bottom: 30px}
	.visual-text h3 { margin-bottom: 15px}
	.visual-text h3 em { display: block}
	.visual-text h3 .text-top, .visual-text h3 .text-btm { font-size: 24px; font-weight: 800}
	.visual-text h3 .text-nft { font-size: 80px; font-weight: 800}
	.visual-text .btn { width: 200px; height: 50px; font-size: 18px}
}

/* thumb */
.visual-slide-thumb { position: relative; margin-top: auto}
.mvSlide-thumb.swiper-container { position: absolute; left: 0; bottom: 100px; width: 116%; height: 100px; overflow: visible; z-index: 10}
.mvSlide-thumb .swiper-slide:nth-child(n + 6) { display: none}

.mvSlide-thumb .slide-con { height: 100%}
.mvSlide-thumb .slide-con .img { position: relative; width: 100%; height: 100%}
.mvSlide-thumb .slide-con .img::before, .mvSlide-thumb .slide-con .img::after { content: ""; position: absolute; width: 0; height: 0; border: 5px solid transparent; opacity: 0; transition: all 0.8s; z-index: 5}
.mvSlide-thumb .slide-con .img::before { bottom: 0; left: 0}
.mvSlide-thumb .slide-con .img::after { top: 0; right: 0; }
.mvSlide-thumb .slide-con.on .img::before, .mvSlide-thumb .slide-con.on .img::after { content: ""; width: 100%; height: 100%; opacity: 1}
.mvSlide-thumb .slide-con.on .img::before { border-left: 5px solid #fb5b0d; border-bottom: 5px solid #fb5b0d}
.mvSlide-thumb .slide-con.on .img::after { border-top: 5px solid #fb5b0d; border-right: 5px solid #fb5b0d;}
.mvSlide-thumb .slide-con .img img { display: block; width: 100%; height: 100%; object-fit: cover;}

.mvSlide-thumb .text-area { position: absolute; bottom: -100px; left: 0; opacity: 0;}
.mvSlide-thumb .text-area p { width: 65%;}
.mvSlide-thumb .text-area p.name { margin-bottom: 5px}
.mvSlide-thumb .text-area p.name a { display: flex; align-items: center; width: 100%}
.mvSlide-thumb .text-area p.name span { width: 40px; min-width: 40px; height: 40px;}
.mvSlide-thumb .text-area p.name strong { font-weight: 500; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.mvSlide-thumb .text-area p.tit { font-size: 18px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.mvSlide-thumb .slide-con.on .text-area { animation: textSlide 1.0s forwards; z-index: 10}

@keyframes textSlide {
	0% {
		opacity: 0; transform: translate(60px, 0); 
	}
	100% {
		opacity: 1; transform: translate(0, 0)
	}
}

@media (min-width: 701px){
	/* .visual-slide-thumb .swiper-wrapper { transform: translate3d(0px, 0px, 0px) !important} */
	/* .mvSlide-thumb .swiper-slide { position: static; } */
}
@media (max-width: 1800px){
	.mvSlide-thumb.swiper-container { height: 92px;}
}
@media (max-width: 1700px){
	.mvSlide-thumb.swiper-container { width: 110%; height: 82px;}
}
@media (max-width: 1500px){
	.mvSlide-thumb.swiper-container { bottom: 80px; width: 105%; height: 67px;}
	.mvSlide-thumb .text-area { bottom: -80px}
	.mvSlide-thumb .text-area p.name { font-size: 14px}
	.mvSlide-thumb .text-area p.name span { width: 30px; min-width: 30px; height: 30px;}
	.mvSlide-thumb .text-area p.tit { font-size: 16px}
}
@media (max-width: 1300px){
	.mvSlide-thumb.swiper-container { bottom: 60px; height: 62px;}
	.mvSlide-thumb .slide-con .img::before, .mvSlide-thumb .slide-con .img::after, 
	.mvSlide-thumb .slide-con.on .img::before, .mvSlide-thumb .slide-con.on .img::after{ border-width: 3px}
	.mvSlide-thumb .text-area { bottom: -60px}
	.mvSlide-thumb .text-area p.name { font-size: 13px; margin-bottom: 0}
	.mvSlide-thumb .text-area p.name span { width: 24px; min-width: 24px; height: 24px;}
	.mvSlide-thumb .text-area p.tit { font-size: 15px}
}
@media (max-width: 1150px){
	.mvSlide-thumb.swiper-container { height: 58px;}
}
@media (max-width: 1100px){
	.mvSlide-thumb.swiper-container { height: 50px;}
}
@media (max-width: 1000px){
	.mvSlide-thumb.swiper-container { height: 48px;}
}
@media (max-width: 850px){
	.mvSlide-thumb.swiper-container { width: 98%}
	.mvSlide-thumb .slide-con .img { display: none}
}
@media (max-width: 700px){
	.visual-slide-thumb { display: none}
	/*.visual-slide-thumb { position: absolute; left: 20px; right: 20px; bottom: 0; width: auto; margin-top: 0}
	.mvSlide-thumb.swiper-container { position: relative; bottom: auto; width: 100%; height: auto; overflow: hidden}
	.mvSlide-thumb .swiper-slide { position: relative}
	
	.mvSlide-thumb .slide-con .img::before, .mvSlide-thumb .slide-con .img::after, 
	.mvSlide-thumb .slide-con.on .img::before, .mvSlide-thumb .slide-con.on .img::after{ content: none}
	
	.mvSlide-thumb .text-area { position: relative; bottom: auto; width: 100%; opacity: 1; background: rgba(0, 0, 0, 0.7); padding: 10px 20px}
	.mvSlide-thumb .slide-con.on .text-area { animation: none}
	.mvSlide-thumb .text-area p.name, .mvSlide-thumb .text-area p.tit a { color: #fff}*/	
}
@media (max-width: 300px){
	/*.visual-slide-thumb { left: 15px}*/
}

/* slide */
.visual-slide { position: relative; width: 60%; max-width: 960px; padding-top: 37.6%; margin-left: auto}
.visual-slide .mvSlide { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden}

.mvSlide .swiper-slide { position: relative; overflow: hidden}
.mvSlide .moving { height: 100%}
.mvSlide .moving a.img { display: block; width: 100%; height: 100%}
.mvSlide .moving a.img img { display: block; width: 100%; height: 100%; object-fit: cover;}

/* .mvSlide .swiper-button-next, .mvSlide .swiper-button-prev { top: auto; bottom: 0; width: 50px; height: 50px; background-color: rgba(255, 255, 255, 0.5); background-size: auto 40%; margin-top: 0}
.mvSlide .swiper-button-prev { left: auto; right: 55px;}
.mvSlide .swiper-button-next { right: 0;}
.mvSlide .swiper-button-next:hover, .mvSlide .swiper-button-prev:hover { background-color: rgba(255, 255, 255, 0.8)} */

.mvSlide .swiper-button-prev, .mvSlide .swiper-button-next { display: none; opacity: 0; background-size: 22px; }
.mvSlide .swiper-button-prev { left: 20px; right: auto;}
.mvSlide .swiper-button-next { left: auto; right: 20px;}
.mvSlide:hover .swiper-button-next, .mvSlide:hover .swiper-button-prev { display: inline-block; animation: opac 0.5s forwards}

.mvSlide .swiper-button-prev.swiper-button-disabled,
.mvSlide .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: auto;
}

.visual-slide .swiper-pagination { position: absolute; bottom: 0; left: -130px; display: flex; align-items: flex-start; width: auto; line-height: 1}
.visual-slide .swiper-pagination span { display: block; margin-left: 5px}
.visual-slide .swiper-pagination-current { font-size: 40px; font-weight: 600}
.visual-slide .bar { margin-top: 5px}
.visual-slide .swiper-pagination-total { font-size: 18px; margin-top: 3px}

@media (min-width: 701px){
	.mvSlide .text-area { display: none}
}
@media (max-width: 1700px){
	.visual-slide .swiper-pagination { left: -100px}
	.visual-slide .swiper-pagination-current { font-size: 35px}
	.visual-slide .bar { font-size: 14px}
	.visual-slide .swiper-pagination-total { font-size: 16px}
}
@media (max-width: 1500px){
	.visual-slide { width: 55%;}
	.visual-slide .swiper-pagination { left: -90px}
	.visual-slide .swiper-pagination span { margin-left: 3px}
	.visual-slide .swiper-pagination-current { font-size: 30px}
	.visual-slide .bar { font-size: 13px}
	.visual-slide .swiper-pagination-total { font-size: 15px}
}
@media (max-width: 1400px){
	.visual-slide .swiper-pagination-current { font-size: 26px}
	.visual-slide .bar { font-size: 12px}
	.visual-slide .swiper-pagination-total { font-size: 14px}
}
@media (max-width: 1300px){
	.visual-slide { width: 50%;}
	.mvSlide .swiper-button-next, .mvSlide .swiper-button-prev { width: 40px; height: 40px;}
	.mvSlide .swiper-button-prev { right: 45px; }
}
@media (max-width: 1200px){
	.visual-slide .swiper-pagination { left: -80px}
	.visual-slide .swiper-pagination-current { font-size: 22px}
	.visual-slide .bar { font-size: 11px}
	.visual-slide .swiper-pagination-total { font-size: 13px}
}
@media (max-width: 850px){
	.visual-slide { width: 45%;}
	.mvSlide .swiper-button-next, .mvSlide .swiper-button-prev { width: 36px; height: 36px}
	.mvSlide .swiper-button-prev { right: 41px; }
}
@media (max-width: 740px){
	.visual-slide { width: 40%;}
}
@media (max-width: 700px){
	.visual-slide { width: 100%; padding-top: 100%; margin-left: 0}
	.mvSlide .text-area { position: absolute; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); padding: 10px 20px}
	.mvSlide .text-area p.name { font-size: 13px; margin-bottom: 5px}
	.mvSlide .text-area p.name a { display: flex; align-items: center; width: 100%; color: #fff}
	.mvSlide .text-area p.name span { width: 20px; min-width: 20px; height: 20px;}
	.mvSlide .text-area p.tit { font-size: 15px;}
	.mvSlide .text-area p.tit a { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #fff}
	
	.mvSlide .swiper-button-next, .mvSlide .swiper-button-prev { top: 50%; bottom: auto; transform: translateY(-50%)}
	.mvSlide .swiper-button-prev { left: 0; right: auto}
	.visual-slide .swiper-pagination { display: none}
}

