@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-thin.eot');
    src:url('/assets/sub/css/fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-thin.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-thin.woff') format('woff'),url('/assets/sub/css/fonts/notokr-thin.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-light.eot');
    src:url('/assets/sub/css/fonts/notokr-light.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-light.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-light.woff') format('woff'),url('/assets/sub/css/fonts/notokr-light.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-demilight.eot');
    src:url('/assets/sub/css/fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-demilight.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-demilight.woff') format('woff'),url('/assets/sub/css/fonts/notokr-demilight.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-regular.eot');
    src:url('/assets/sub/css/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-regular.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-regular.woff') format('woff'),url('/assets/sub/css/fonts/notokr-regular.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-medium.eot');
    src:url('/assets/sub/css/fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-medium.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-medium.woff') format('woff'),url('/assets/sub/css/fonts/notokr-medium.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-bold.eot');
    src:url('/assets/sub/css/fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-bold.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-bold.woff') format('woff'),url('/assets/sub/css/fonts/notokr-bold.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'notokr';
    src:url('/assets/sub/css/fonts/notokr-black.eot');
    src:url('/assets/sub/css/fonts/notokr-black.eot?#iefix') format('embedded-opentype'),url('/assets/sub/css/fonts/notokr-black.woff2') format('woff2'),url('/assets/sub/css/fonts/notokr-black.woff') format('woff'),url('/assets/sub/css/fonts/notokr-black.ttf') format('truetype'),url('/assets/sub/css/fonts/notokr-black.svg#notokr-black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ruda/v9/k3kfo8YQJOpFqngdbA.eot);
}


/*�����ھ�帲*/
@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/sub/css/fonts/SCDream1.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream1.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream1.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/sub/css/fonts/SCDream1.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream1.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream1.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/sub/css/fonts/SCDream2.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream2.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream2.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/sub/css/fonts/SCDream3.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream3.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream3.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/sub/css/fonts/SCDream4.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream4.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream4.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/sub/css/fonts/SCDream5.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream5.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream5.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/sub/css/fonts/SCDream6.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream6.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream6.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/sub/css/fonts/SCDream7.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream7.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream7.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/sub/css/fonts/SCDream8.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream8.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream8.otf') format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/sub/css/fonts/SCDream9.woff2') format('woff2'),
       url('/assets/sub/css/fonts/SCDream9.woff') format('woff'),
       url('/assets/sub/css/fonts/SCDream9.otf') format('opentype');
}


/*�κ�����Ʈ*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('/assets/sub/css/fonts/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/assets/sub/css/fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/assets/sub/css/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/assets/sub/css/fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/assets/sub/css/fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('/assets/sub/css/fonts/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/sub/css/fonts/roboto-v18-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('/assets/sub/css/fonts/roboto-v18-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/sub/css/fonts/roboto-v18-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/sub/css/fonts/roboto-v18-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/sub/css/fonts/roboto-v18-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/sub/css/fonts/Montserrat.eot');
}




