@charset 'utf-8';


html,body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, button, select, textarea, p, blockquote, address, table, th, td, 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, h1,h2,h3,h4,h5,h6{font-size:16px;}


@media all and (max-width:801px){
html,body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, button, select, textarea, p, blockquote, address, table, th, td, 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, h1,h2,h3,h4,h5,h6{font-size:15px;}
}

@media all and (max-width:600px){
html,body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, button, select, textarea, p, blockquote, address, table, th, td, 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, h1,h2,h3,h4,h5,h6{font-size:14px;}
}
@media all and (max-width:400px){
html,body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, button, select, textarea, p, blockquote, address, table, th, td, 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, h1,h2,h3,h4,h5,h6{font-size:13px;}
}



/* main */
.mv .mv_txt .tit { font-family:'SCDream' !important;font-size:48px; font-weight:300;}
.mv .mv_txt .tit em{ font-size:76px; }
.mv .mv_txt .txt{ font-size:28px; font-weight:100;}
.mboxWrap .mtit{ font-family:'SCDream' !important; line-height:1.3;}


@media screen and (max-width:1100px){
	.mv .mv_txt .tit{ font-size:48px;}
	.mv .mv_txt .tit em{ font-size:60px;}
	.mv .mv_txt .txt{ font-size:24px;}
}

@media screen and (max-width:900px){
	.mv .mv_txt .tit{ font-size:38px;}
	.mv .mv_txt .tit em{ font-size:50px;}
	.mv .mv_txt .txt{ font-size:24px;}
}

@media screen and (max-width:801px){
	.mv .mv_txt .tit{ font-size:32px;}
	.mv .mv_txt .tit em{ font-size:44px;}
	.mv .mv_txt .txt{ font-size:22px;}
}

@media screen and (max-width:600px){
	.mv .mv_txt .tit{ font-size:30px;}
	.mv .mv_txt .tit em{ font-size:42px;}
	.mv .mv_txt .txt{ font-size:20px;}
	.mv .mv_txt .txt br{ display:block;}
}

@media screen and (max-width:480px){
	.mv .mv_txt .tit{ font-size:28;}
	.mv .mv_txt .tit em{ font-size:40px;}
	.mv .mv_txt .txt{ font-size:18px;}
}



/* layout _ sv */
.sv_vtxt em{ font-size:25px;}


@media all and (max-width:980px){
	.sv_vtxt em {font-size:23px;}
}

@media all and (max-width:801px){
	.sv_vtxt em {font-size:22px;}
}

@media all and (max-width:700px){
	.sv_vtxt em {font-size:20px;}
}

@media all and (max-width:600px){
	.sv_vtxt em {font-size:18px;}
}

@media all and (max-width:400px){
	.sv_vtxt em {font-size:16px;}
}



/* contact */
.contactwrap .contxt{ font-size:26px;}


@media all and (max-width:900px){
	.contactwrap .contxt{ font-size:24px;}
}

@media all and (max-width:801px){
	.contactwrap .contxt{ font-size:22px;}
}

@media all and (max-width:600px){ 
	.contactwrap .contxt{ font-size:20px;}
}

@media all and (max-width:480px){ 
	.contactwrap .contxt{ font-size:18px;} 
}



.contact .inwrap ul li{ font-size:20px; line-height:18px;}	
.contact .inwrap ul li strong{ font-size:20px;}


@media all and (max-width:1000px){
	.contact .inwrap ul li,
	.contact .inwrap ul li strong{ font-size:16px;}
}

@media all and (max-width:801px){
	.contact .inwrap ul li,
	.contact .inwrap ul li strong{font-size:15px;}
}

@media all and (max-width:400px){
	.contact .inwrap ul li{ font-size:14px; line-height:20px;}	
	.contact .inwrap ul li strong{ font-size:14px;}
}



/* ceoimgWrap */
.ceoimgWrap .ceoimgtxt span{ font-size:36px;}

@media all and (max-width:1000px){
	.ceoimgWrap .ceoimgtxt span{ font-size:34px;}
}

@media all and (max-width:900px){
	.ceoimgWrap .ceoimgtxt span{ font-size:30px;}
}

@media all and (max-width:801px){
	.ceoimgWrap .ceoimgtxt span{ font-size:28px;}
}

@media all and (max-width:750px){
	.ceoimgWrap .ceoimgtxt span{ font-size:26px;}
}

@media all and (max-width:700px){
	.ceoimgWrap .ceoimgtxt span{ font-size:24px;}
}

@media all and (max-width:480px){
	.ceoimgWrap .ceoimgtxt span{ font-size:19px;}
}



/* content1 _ h3_stitle */
.sub_contxt .h3_stitle,
.sub_contxt2 .h3_stitle,
.sub_contxt2 .h3_stitle1, 
.sub_contxt2 .s_h3_stitle,
.sub_contxt2 .s_h3_stitle2{ font-family:'SCDream' !important;}


.h4_stitle, .resourceBox .rbox h3, .table_bp thead th, .bp h3.bptit{ font-weight:600;}
.tx_con, .tx_con2, .td_desc > li > em, .tx_list_02 li, .resourceBox .rbox p, .table_bp tbody td, .contact .inwrap ul.address li{ font-weight:400;}

.s_sub_tab > li > a{ font-family:'notokr'; font-weight:600;}

.apply_input1 > form > div > span, .apply_input > div > span{ font-family:'notokr';}



