@charset 'utf-8';
body{min-width:320px;  }
section {width:100%; }
section:after {content: ''; display: block; clear: both; }

footer {width:100%; }
footer:after {content: ''; display: block; clear: both; }


/* com */
.h2 {width:100%; text-align:center; padding-top:90px;font-size:32px !important;}
 
 
 /* mv */
.mv {width:100% ; height:910px; text-align:center; display:block;  background: #f5f5f5; overflow:hidden;background: transparent url(/assets/img/main/main_bg.jpg) no-repeat center 50%;  position:relative; z-index:1;}
.mv:after {content: ''; display: block; clear: both;  }
.mv .mv_txt {width:90%; max-width:980px; margin:0 auto; text-align:center; padding:300px 0 0 0;  }
.mv .mv_txt .tit {width:100%; font-size:52px; color:#fff; text-align:left; font-family:'Montserrat','Roboto','SCDream','notokr', sans-serif;  line-height:1.2; font-weight:300; letter-spacing:-1px;}
.mv .mv_txt .tit  em { font-weight:700; text-align:left; font-size:81px;}
.mv .mv_txt .txt {width:100%; padding:40px 0 0 0; font-size:28px; color:#fff; text-align:left; font-family:'Montserrat','Roboto', 'notokr', sans-serif; font-weight:0;  line-height:1.4;}
.m_sec {position:relative;}
.page_back {position:absolute; width: 100%; height: 910px; width: 50%; left:0; background: #032a6f; z-index: 0;}
.page_back2 {position:absolute; width: 100%; height: 910px; width: 50%; right:0; background: #010b24; z-index: 0;}

@media screen and (max-width:1100px){
.mv { background:#010b25 url(/assets/img/main/main_bg_1140.jpg) no-repeat center 50%; background-size:100%; height:auto; }
.page_back {height:auto;}
.page_back2 {height:auto;}
.mv .mv_txt { padding:29% 10% 28% 0; }
.mv .mv_txt .tit { font-size:48px;  }
.mv .mv_txt .tit  em { font-size:60px; }
.mv .mv_txt .txt { padding:10% 0 0 0;  }
}

@media screen and (max-width:900px){
.mv .mv_txt .tit { font-size: 38px;  }
.mv .mv_txt .tit  em { font-size: 50px; }
.mv .mv_txt .txt {  font-size:25px; }
}

@media screen and (max-width:801px){
.mv .mv_txt { padding:35% 10% 34% 0; }
.mv .mv_txt .tit { font-size: 32px;  }
.mv .mv_txt .tit  em { font-size: 44px; }
.mv .mv_txt .txt {  font-size:20px; }
}

@media screen and (max-width:600px){
.mv .mv_txt { padding:40% 10% 39% 0; }
.mv .mv_txt .tit { font-size:30px;  }
.mv .mv_txt .tit  em { font-size: 42px; }
.mv .mv_txt .tit br, .mv .mv_txt .txt br { display:none; } 
.mv .mv_txt .txt {padding:30px 0 0 0;}
}

@media screen and (max-width:480px){
 
.mv .mv_txt .tit { font-size:28px;  }
.mv .mv_txt .tit  em { font-size: 40px; } 
.mv .mv_txt .txt {padding:25px 0 0 0;  font-size:19px; }
}
 
/* mbox */
.mboxWrap {width:100%;}
.mboxWrap:after {content: ''; display: block; clear: both;  }

.mboxWrap .mbox_inwrap {width:90%; max-width:980px; margin:0 auto; position:relative;}
.mboxWrap .mtit {width:100%;  font-size: 42px; text-align:left; font-family:'Montserrat','Roboto','SCDream','notokr', sans-serif;  line-height:1.2; font-weight:700;}
.mboxWrap .mtxt {width:100%; padding:9% 0 0 0;  text-align:left;}
.mboxWrap .mtxt p {width:100%; padding:15px 0 0 0;  text-align:left;   }
.mboxWrap .mtxt p:first-child { padding:0;  }

.mslist {width:100%; padding:15px 0 0 10px;}
.mslist li {width:100%; margin:2px 0 0 0; padding:0 0 0 12px;background:url(/assets/img/main/gdot.png) no-repeat left 8px; line-height:1.4;   }

@media screen and (max-width:1100px){
.mboxWrap .mtit { font-size: 38px;  }
.mboxWrap .mtxt {  font-size:24px; }
}

@media screen and (max-width:980px){
.mboxWrap .mtit { font-size: 34px;  }
.mboxWrap .mtxt  {  font-size:21px; }
}

@media screen and (max-width:900px){
.mslist li { background:url(/assets/img/main/gdot.png) no-repeat left 7px;  }
}

@media screen and (max-width:801px){
.mboxWrap .mtit{ font-size: 32px;  }
.mboxWrap .mtxt  {  font-size:20px; }
}

@media screen and (max-width:700px){
.mboxWrap .mtit{ font-size: 30px;  }
.mboxWrap .mtit br,  .mboxWrap .mtxt br { display:none; } 
.mboxWrap .mtxt  {padding:30px 0 0 0;}
}

@media screen and (max-width:600px){
.mboxWrap .mtit { font-size:28px;  }
}

@media screen and (max-width:480px){
.mboxWrap .mtit { font-size:26px;  } 
.mboxWrap .mtxt {padding:25px 0 0 0; font-size:19px; }
}

@media screen and (max-width:480px){
.mboxWrap .mtxt {padding:20px 0 0 0;  } 
}

/* mbox_01, mbox_02 */
.mbox_01 {background:#fafafa; padding:140px 0 150px 0;  }
.mbox_01 .mtxt p {  padding:22px 0 0 0;}
.mbox_02 { background:#fff;   }
.mboxWrap .m2_01 { padding:145px 50% 18% 0; background:url(/assets/img/main/m2_01.png) no-repeat right 125px;  }
.mboxWrap .m2_02 { padding:0 0 19% 47%; background:url(/assets/img/main/m2_02.png) no-repeat left 10px;   }

@media screen and (max-width:1100px){
.mbox_01 {  padding:11% 0 12% 0 ; }

.mboxWrap .m2_01 { padding:11% 50% 15% 0;  background:url(/assets/img/main/m2_01.png) no-repeat right 50%; background-size:45%;  }
.mboxWrap .m2_02 {padding:0 0 12% 47%; background:url(/assets/img/main/m2_02.png) no-repeat left 50%; background-size:40%; }
.mboxWrap .m2_01 .mtit br {display:none;}
}

@media screen and (max-width:980px){
.mbox_01 .mtxt p {  padding:15px 0 0 0;}
.mboxWrap .m2_01 {  background-size:45%;  }
.mboxWrap .m2_02 {   background-size:40%;  }
}

@media screen and (max-width:700px){
.mbox_01 {  padding:80px 0 90px 0 ; }

.mboxWrap .m2_01 {background:none;padding:90px 0 75px 0 ;}
.mboxWrap .m2_01 .mtit { padding:227px 0 0 0;  background:url(/assets/img/main/m2_01.png) no-repeat center 0; background-size:220px; }
.mboxWrap .m2_02 {background:none; padding:0 0 30px 0 ; }
.mboxWrap .m2_02 .mtit { padding:260px 0 0 0;  background:url(/assets/img/main/m2_02.png) no-repeat center 0; background-size:220px; }
}

@media screen and (max-width:480px){
.mboxWrap .m2_01 .mtit { padding:220px 0 0 0;  }
.mboxWrap .m2_02 .mtit { padding:250px 0 0 0;   }
}

@media screen and (max-width:400px){
.mboxWrap .m2_01 .mtit { padding:200px 0 0 0; background-size:200px; }
.mboxWrap .m2_02 .mtit { padding:230px 0 0 0; background-size:200px; }
}


/* mbox_03 */
.mbox_03 {background:#222; } 

.mbox_03 .mhtxt {width:59%; margin:14% 0; position:absolute; top:0; left:0; z-index:3; }
.mbox_03 .mtit {color:#fff; }
.mbox_03 .mtxt {width:80%; color:#fff; }
.mbox_03 .mtxt .mbtn {width:100%; padding-top:40px ; }
.mbox_03 .mtxt .mbtn a {width:100%; max-width:210px; text-align:center; background:#fff; color:#222; font-weight:600; padding:15px 0; border-radius:6px; font-size:18px; line-height:1.2; font-family:'Montserrat','Roboto', 'notokr', sans-serif;  }

.mhhistory { width:38.5%;  float:right;  padding:15% 0 14% 0;  background:url(/assets/img/main/mh_bg.png) no-repeat center 50%;  }
.mhhistory .mhbox {width:100%; }
.mhhistory .mhbox:after {content: ''; display: block; clear: both;  }
.mhhistory .mhsbox {position:relative; width:100%; max-width:190px; border:1px solid #fff; padding:12px 14px;}

.mhhistory .mhsbox h3 {width:100%; color:#fff;font-size:16px; font-weight:500; padding:0 0 2px; }
.mhhistory .mhsbox p {width:100%;color:#fff; font-size:14px; line-height:1.4;font-weight:300;}
.mhhistory .mhsbox p em { font-size:11px; word-break: keep-all;word-wrap:normal; display:inline-block;font-weight:300; }  

.mhhistory .mhbox_01 {padding:0 0 0 50%; }
.mhhistory .mhbox_02 {padding:0 50% 0 0; }
.mhhistory .mhbox_03 {padding:14px 0 0 50%; }
.mhhistory .mhbox_04 {padding:0 50% 0 0; }

.mhhistory .mhbox_02 h3 {color:#bcbcbc; }
.mhhistory .mhbox_03 h3 {color:#a9a9a9; }
.mhhistory .mhbox_04 h3 {color:#7f7f7f; }
 
.mhhistory .mhbox_02 p { color:#bcbcbc; }
.mhhistory .mhbox_03 p { color:#a9a9a9; }
.mhhistory .mhbox_04 p { color:#7f7f7f; }


.mhhistory .mhbox_01 .mhsbox { margin:0 0 0 34px;  border:2px solid #fff; }
.mhhistory .mhbox_02 .mhsbox { margin:-12px 34px 0 0; float:right; border:1px solid #a7a7a7; }
.mhhistory .mhbox_03 .mhsbox { margin:0 0 0 34px; border:1px solid #919191;}
.mhhistory .mhbox_04 .mhsbox { margin:0 34px 0 0; float:right; border:1px solid #656565; }

.mhhistory .mhbox .mhbar {  position:absolute; left:-46px; top:50%;  }
.mhhistory .mhbox .mhbar .dot { position:absolute;  left:6px;  top:-4px;z-index:5;width:8px; height:8px; background:#fff; display:inline-block; border-radius:20px; }
.mhhistory .mhbox .mhbar .dot_bg {position:absolute; top:-10px; left:0; z-index:4;width:20px; height:20px; background:#fff; display:inline-block; border-radius:20px; opacity:.4;filter:alpha(opacity=40); }
.mhhistory .mhbox .mhbar .dot_bar {position:absolute; left:10px;   z-index:3;width:35px; height:1px; background:#fff;}

.mhhistory .mhbox.flbox .mhbar { left:auto ; right:-46px;   }
.mhhistory .mhbox.flbox .mhbar .dot {left:auto ;  right:6px;  top:-4px; }
.mhhistory .mhbox.flbox .mhbar .dot_bg {left:auto ;  top:-10px; right:0;  }
.mhhistory .mhbox.flbox .mhbar .dot_bar {left:auto ; right:10px; }

.mhhistory .mhbox_02 .mhbar .dot { background:#efefef ; }
.mhhistory .mhbox_03 .mhbar .dot { background:#c8c8c8; }
.mhhistory .mhbox_04 .mhbar .dot { background:#c8c8c8; }

.mhhistory .mhbox_03 .mhbar .dot_bg {  opacity:.3;filter:alpha(opacity=30); }
.mhhistory .mhbox_04 .mhbar .dot_bg {opacity:.2;filter:alpha(opacity=20); }

.mhhistory .mhbox_02 .mhbar .dot_bar {background:#a7a7a7;}
.mhhistory .mhbox_03 .mhbar .dot_bar {background:#919191;}
.mhhistory .mhbox_04 .mhbar .dot_bar {background:#656565;}


@media screen and (max-width:1150px){
 .mhhistory { margin-right:3%;}
 }

@media screen and (max-width:980px){
 .mhhistory { margin-right:4%;}
}

@media screen and (max-width:900px){
.mhhistory .mhbox_02 .mhsbox { margin:-20px 34px 0 0;}
.mhhistory .mhbox_03 .mhsbox { margin:-20px 0 0 34px; }
.mhhistory .mhbox_04 .mhsbox { margin:-20px 34px 0 0; }
 }

 @media screen and (max-width:801px){
.mhhistory .mhbox_03 .mhsbox { margin:-30px 0 0 34px; }
.mhhistory .mhbox_04 .mhsbox { margin:-20px 34px 0 0; }
 }

@media screen and (max-width:700px){
.mbox_03 .mtxt {width:100%; }
.mbox_03 .mhtxt { position:relative; width:100%; float:none;  padding:80px 0 0 0; z-index:1;  }
.mbox_03 .mhhistory {width:80%; float:none; margin:0 auto 15% auto; padding:80px 0;  }
.mhhistory .mhbox_02 .mhsbox { margin:-12px 34px 0 0;  }
.mhhistory .mhbox_03 .mhsbox { margin:0 0 0 34px;  }
.mhhistory .mhbox_04 .mhsbox { margin:0 34px 0 0; }
}


@media screen and (max-width:600px){
.mbox_03 .mtxt .mbtn { padding-top:30px ; }
.mbox_03 .mtxt .mbtn a { padding:12px 0; }
}

@media screen and (max-width:400px){
.mbox_03 .mtxt .mbtn a {width:100%;max-width:100%; text-align:center; }

.mhhistory .mhbox .mhbar {  left:-36px; }
.mhhistory .mhbox.flbox .mhbar { left:auto ; right:-36px;   }
.mhhistory .mhbox_01 .mhsbox { margin:0 0 0 24px; }
.mhhistory .mhbox_02 .mhsbox { margin:-20px 24px 0 0;}
.mhhistory .mhbox_03 .mhsbox { margin:-30px 0 0 24px; }
.mhhistory .mhbox_04 .mhsbox { margin:-20px 24px 0 0; }
.mhhistory .mhbox .mhbar .dot_bar { width:25px;}
}

/* mbox_04 */
.mbox_04 { background:#fff;  }
.mbox_04 .m3 {width:100%;  padding:140px 0 150px 47%; background:url(/assets/img/main/m3.png) no-repeat left 50%;   }
.mbox_04 .mtxt .mbtn {width:100%; padding-top:40px ; }
.mbox_04 .mtxt .mbtn a {width:100%; max-width:210px; text-align:center;  background:#222; color:#fff; font-weight:600; padding:15px 0; border-radius:6px; font-size:18px; line-height:1.2; font-family:'Montserrat','Roboto', 'notokr', sans-serif;  }
.mbox_04 .mtxt .mbtn a em {padding:0 15px 0 0 ; background:url(/assets/img/main/mbtn_arr.png) no-repeat right 50%; display:inline-block;  }

@media screen and (max-width:1100px){
.mbox_04 .mtit br {display:none;}
.mbox_04 .m3 {  padding:11% 0 12% 47%;  background-size:40%;   }
}

@media screen and (max-width:980px){
.mbox_04 .m3{ background:url(/assets/img/main/m3.png) no-repeat left 50%; background-size:40%;  }
}

@media screen and (max-width:700px){
.mbox_04 .m3 {background:none; padding:80px 0 90px 0;}
.mbox_04 .mtit { padding:235px 0 0 0;  background:url(/assets/img/main/m3.png) no-repeat center 0;  background-size:300px; }
}

@media screen and (max-width:600px){
.mbox_04 .mtxt .mbtn { padding-top:30px ; }
.mbox_04 .mtxt .mbtn a {  padding:12px 0; }
}

@media screen and (max-width:480px){
.mbox_04 .mtit { padding:200px 0 0 0; background-size:250px; }
}

@media screen and (max-width:400px){
.mbox_04 .mtit { padding:160px 0 0 0; background-size:200px; }
.mbox_04 .mtxt .mbtn a { width:100%; max-width:100%; text-align:center; }
}





@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

.pulse { animation: pulse 3s infinite; }




/* main_popup */


#divpop1{ position:fixed; left:0; top:0; width:100%; height:100%;  z-index:100000;  }
#divpop1 .bg { position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:.6; filter:alpha(opacity=60); z-index:6; z-index:10000; /* 2019-10-18*/ }
.popWrap  {position:fixed;width:90%; margin:0 auto; max-width:500px; left:50%; top:10%; margin-left:-250px; background:#392a92;  url(../assets/img/pop_bg.jpg) no-repeat center 0; z-index:10009;  }

.popWrap .close {width:100%; font-size:11px; color:#ccc; background:#000; line-height:25px; vertical-align:middle; }
.popWrap .close .lbox {width:70%; float:left; }
.popWrap .closeBtn{position:absolute; top:10px; right:10px; width:25px; height:25px;  float:right;  text-align:right;  }
.popWrap .close input {vertical-align:middle; margin:0 0 0 10px;}
.popWrap .close a {font-size:11px; color:#ccc;  line-height:25px; vertical-align:middle; padding:0 10px;}
.popWrap .imgbox {width:100%; padding:0; color:#f5f5fd;  text-align:center;}
.popWrap .imgbox h3 {width:100%; padding:20px 0 ; font-size:36px;  color:#bd73fa;  text-align:center; font-weight:300;}
.popWrap .imgbox h3  span {font-weight:800;}
.popWrap .imgbox .popTxt {width:100%; }
.popWrap .imgbox ul {width:100%; padding:0 ;}
.popWrap .imgbox ul li {width:100%; padding:10px 0 0 0 ;}
.popWrap .imgbox ul li.time {color:#8683ff; font-size:22px; line-height:1.2; padding:20px 0 0 0;}
.popWrap .imgbox ul li.add span {  font-size:18px;  }
.popWrap .imgbox ul li.tel { font-size:20px; }
.popWrap .imgbox ul li.tel a {text-decoration:none; color:#f5f5fd; }
.popWrap .imgbox .popBtn {width:100%; padding:20px 0; }
.popWrap .imgbox .popBtn a {width:80%; max-width: 290px; border:1px solid 1px solid #fff; background:#fff; color:#8346ff; font-size:16px;line-height:52px; height:52px; font-weight:600; 
-webkit-border-radius:54px;-moz-border-radius:54px;-o-border-radius:54px;-ms-border-radius:54px;-khtml-border-radius:54px;border-radius:54px;
}
.popWrap .imgbox .popBtn a span {padding-right:25px; background:url(../assets/img/pop_arr.png) no-repeat right 50%;}
.popstxt {width:100%; color:#d7d6f9; padding:0 0 20px 0;}

@media screen and (max-width:600px){
#divpop1 {position:absolute; left:5%; top:100px; margin:0; }
.popWrap .imgbox h3 { font-size:30px; }
.popWrap .imgbox ul li.time {  font-size:20px; }
.popWrap .imgbox ul li.tel { font-size:18px; }
.popWrap .imgbox .popBtn a { font-size:15px;line-height:40px; height:40px; }
}

@media screen and (max-width:480px){
.popWrap .imgbox h3 { font-size:28px; }
.popWrap .imgbox ul li.time {  font-size:18px; }
.popWrap .imgbox ul li.add span {  font-size:16px;  }
.popWrap .imgbox ul li.tel { font-size:16px; }
}

@media screen and (max-width:400px){
.popWrap .imgbox h3 { font-size:24px; }
.popWrap .imgbox ul li.time {  font-size:16px; }
.popWrap .imgbox ul li.add span {  font-size:14px;  }
.popWrap .imgbox ul li.tel { font-size:14px; }
.popWrap .imgbox .popBtn a { font-size:14px;}
}

@media screen and (max-width:360px){
.popWrap .imgbox ul li {  padding:7px 0 0 0 ;}
.popWrap .imgbox ul li.time {  font-size:14px; }
.popWrap .imgbox ul li.add span {  font-size:13px;  }
.popWrap .imgbox ul li.tel { font-size:13px; }
}

@media screen and (min-width:601px){
#divpop1 {position:fixed; } 
}


/* layer_popup_cyworld */
#layer_popup_cyworld { position:fixed; left:0; top:0; width:100%; height:100%;  z-index:100;  }
#layer_popup_cyworld .bg {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:.6; filter:alpha(opacity=60); z-index:6;z-index:100; }
#layer_popup_cyworld .layer_popupwrap {position:relative;z-index:101; top:7%; margin:0 auto; width:90%; max-width:500px; max-height:90%; overflow-y:auto;  text-align:center;  background:#392a92; }
#layer_popup_cyworld .cy_close {width:100%; background:#e6e6e6;  display:block; padding:0 10px; position:relative; line-height:30px; height:30px;  z-index:102;}
#layer_popup_cyworld #check{font-size:14px;  color:#141414; font-size:14px; float:left;}
#layer_popup_cyworld #check input { border:1px solid #999; width:14px; height:14px; background:#fff; margin-right:5px;  -webkit-border-radius: 0px !important;  border-radius: 0px;  }
#layer_popup_cyworld #close{font-size:12px;  float:right; }
#layer_popup_cyworld #close a { color:#141414; font-size:14px;line-height:30px; height:30px; background:url('../../assets/img/pop/cy_x.png') no-repeat 0 50%; padding-left:20px; display:inline-block;}

.cyworld {width:100%; position:relative;} 
.cyworld .cytit {width:100%; } 
.cyworld .cytit .cyimg {width:100%;} 
.cyworld .cytit .cyimg img {width:100%; } 
.cyworld .cytit ul {width:100%;display:inline-block; text-align:center; margin-top:-34px;}
.cyworld .cytit ul:after {content:""; display:block; clear:both;} 
.cyworld .cytit ul li {width:26%; max-width:110px; margin:0 2%; display:inline-block; #float:left; background:#7e6cea; border:1px solid #8b7bec; text-align:center;padding:10px 0 9px 0; border-radius:5px; }
.cyworld .cytit ul li span {width:100%;display:inline-block;}
.cyworld .cytit ul li span img {width:70%; max-width:50%; }
.cyworld .cytit ul li em {width:100%;display:inline-block; color:#fff; font-weight:400; padding:4px 0 0 0; text-align:center;font-size:12px;}

.cyworld .cy_btn {width:100%;padding:35px 0 0 0; }
.cyworld .cy_btn ul:after {content:""; display:block; clear:both;} 
.cyworld .cy_btn ul li {width:80%; margin:0 auto;  display:inline-block;}
.cyworld .cy_btn ul li a {width:100%;display:inline-block; text-align:center; border-radius:3px; padding:10px; font-size:19px; font-weight:600;}
.cyworld .btn_cy_join { background:#fff; border:1px solid #fff; color:#6148f6; }
.cyworld .btn_cy_backup { background:#ffb400; border:1px solid #ffb400; color:#262d26; }
.cyworld .cy_txt {width:90%;margin:0 auto; color:#fff; text-algin:center; padding:25px 0;display:block;}
.cyworld .cy_txt:after {content:''; display:block; clear:both;}

 
@media all and (max-width:480px){
.cyworld .cytit ul {  margin-top:-20px;}
.cyworld .cy_btn { padding:30px 0 0 0; }
.cyworld .cy_btn ul li a { font-size:16px; }
}

@media all and (max-width:400px){
.cyworld .cytit ul {  margin-top:-15px;}
.cyworld .cy_btn ul li a { font-size:15px; }
}

@media all and (max-width:360px){
.cyworld .cytit ul {  margin-top:-13px;}
}

