@charset 'utf-8'; 

h1,h2,h3 {font-family: 'SCDream',sans-serif;}



/* intro */
.introwrap {width:100%;height:100%; position:relative; display:flex; justify-content:space-between; align-items:center; background:#eee; }
.introwrap .lwrap {width:65%;height:100%; background:#111;  display:flex; justify-content:center; align-items:center; } 
.introwrap .lwrap h1 img { width:300px;}
.introwrap .rwrap {position: relative; width:35%; height:100%;display:flex; justify-content:center; align-items:center; }
.introwrap .rwrap .loginwrap {width: 80%; max-width:380px; }
.introwrap .rwrap .loginwrap h2 strong {display:block;  text-align:center; font-size:50px; letter-spacing:-1px;  font-weight:500; }
.introwrap .rwrap .loginwrap h2 span {display:block; text-align:center;font-size:50px; font-weight:100; font-family: 'Gmarket Sans'; padding:0 0 2px; color:#1e1e1e;  letter-spacing:-1px; }
.introwrap .rwrap .loginwrap .logintxt { width: 100%;padding:40px 0 15px; }
.introwrap .rwrap .loginwrap .logintxt span { width:100%; display:block; }
.introwrap .rwrap .loginwrap .logintxt span input {width:100%; line-height:49px; height:50px; border:1px solid #fff; border-radius:57px;margin:0 0 15px; padding:0 25px;font-size:15px;font-weight:500; }
.introwrap .rwrap .loginwrap .logintxt span input:hover { border:1px solid #d1d1d1; color:#111; animation: fadein 0.8s;-moz-animation: fadein 0.8s; -webkit-animation: fadein 0.8s; -o-animation: fadein 0.8s; }
.introwrap .rwrap .loginwrap .logintxt span input:focus { border:1px solid #111; color:#111; animation: fadein 0.8s;-moz-animation: fadein 0.8s; -webkit-animation: fadein 0.8s; -o-animation: fadein 0.8s; }

.introwrap .rwrap .loginwrap .loginbtn .lbtn {width:100%; line-height:51px; height:52px; background:#111; border:1px solid #111; border-radius:27px; padding:0 25px; color:#fff; font-weight:600; font-size:16px;  }
.introwrap .rwrap .loginwrap .loginbtn .lbtn:hover {background:#ed1c24; border:1px solid #ed1c24; }
.introwrap .rwrap .loginwrap .loginbtn span { width:100%; display:block; text-align:right; padding:5px 0 0 0;}
.introwrap .rwrap .loginwrap .loginbtn span .pbtn {width:auto; padding:0 12px;color:#909090; border:none; background:none;line-height:42px; height:42px;font-size:13px; font-weight:400;  text-align:right;} 
.introwrap .rwrap .loginwrap .loginbtn span .pbtn:hover {color:#ed1c24;} 

.introwrap .rwrap .copyright { position:absolute; display:block; text-align:center; padding:0; right:0; bottom:15px;  font-size:11px; font-weight:300; color:#a1a1a1; font-family: 'Gmarket Sans'; line-height:1.2; }

@media all and (max-width:1000px){
	.introwrap .rwrap .loginwrap h2 { font-size:50px;  }
	.introwrap .rwrap .loginwrap h2 span { font-size:38px;  }
}
 
#wrap {width:100%; height:100%; position: relative; display:flex; justify-content:start; align-items:top;  padding:80px 0 0 0;}

/* header */
header {width:100% ; position:fixed; top:0; left:0;z-index:2; display:flex; background:#111; justify-content:space-between; align-items:center; height:80px; min-width:1400px;}
header h1 {width:250px;padding:5px 0 0 20px }
header h1 a {width:100%; font-family: 'SCDream',sans-serif; display:flex; justify-content: start; align-items:center;}
header h1 a img { width:100px;} 
header h1 a span {display:inline-block; padding:3px 0 0 10px; font-size:24px; font-weight:600; line-height:1.2; }
header h1 a span strong {display:block;color:#a6acb2; font-size:13px; letter-spacing:0.6px; font-weight:400; line-height:1.2;   }
header h1 a span em {display:block;  font-size:17px; font-weight:600;  line-height:1.2; padding:1px 0 0 0; }
header nav {position: relative; width:80%;padding:0 250px 0 0;}
header nav ul { display:flex; justify-content:center; align-items:center; margin:15px 0 0 0;  }
header nav ul li a {font-weight:600; font-size:18px; padding:0 30px; line-height:50px; font-weight:500; color:#eee; font-family: 'SCDream',sans-serif;  }
header nav ul li a  i {display:inline-block; padding:0 3px 0 0;}
header nav ul li a:hover {color:#999;}
header nav ul li.on a,
header nav ul li.on a:hover {color:#ed1c24;font-weight:600; } 
header nav ul li.on a span {position: relative;display:inline-block; }
header nav ul li.on a span:before {position:absolute;z-index:-1; right:-6px; top:9px; width:5px; height:5px; border-radius:50%; display:inline-block; content:''; background:#ed1c24;}

header nav .tmenu {position:absolute; top:22px; right:20px; }
header nav .tmenu a { font-weight:400; font-size:12px; padding:14px 0 12px 22px; margin-left:20px;display:inline-block; font-family:'Gmarket Sans'; color:#999;  } 
header nav .tmenu a:hover, header nav .tmenu a.on {color:#ed1c24;font-weight:500; } 
header nav .tmenu a:nth-child(1) {  background:url(../../assets/img/com/setting.svg) no-repeat 0 51%; background-size:18px;} 
header nav .tmenu a:nth-child(1):hover,
header nav .tmenu a:nth-child(1).on {color:#ed1c24; background:url(../../assets/img/com/setting_on.svg) no-repeat 0 51%; background-size:18px;} 
header nav .tmenu a:nth-child(2)  { background:url(../../assets/img/com/logout.svg) no-repeat 0 50%; background-size:18px;} 
header nav .tmenu a:nth-child(2):hover { background:url(../../assets/img/com/logout_on.svg) no-repeat 0 50%; background-size:18px;} 
 
 

/* aside */
aside {position: relative; width:18%; max-width:270px; min-width:160px; background:#fff; padding:0;  border-right:1px solid #d1d1d1; }
aside h2 {width:100%;  padding:45px 0; overflow:hidden; display:block; line-height:1.2; font-size:34px; font-weight:300; border-bottom:1px solid #e1e1e1; text-align:center; letter-spacing:-2px; }
aside ul {width:100%; margin:30px 0}
aside ul li {position:relative;width:100%; }
aside ul li a {width:100%; display:inline-block; line-height:1.2;  padding:15px;font-size:24px; font-weight:400;  text-decoration:none; text-align:center; color:#999;font-family: 'SCDream',sans-serif; }
aside ul li a:hover { color:#999;}
aside ul li.on a,aside ul li.on a:hover {color:#111; font-weight:600;} 

.copyright { position:absolute;left:0; bottom:0; color:#999; width:100%; display:block; font-size:10px; line-height:1.4; text-transform:uppercase; padding:15px 20px; text-align:center; font-family:'Gmarket Sans'; }

@media all and (max-width:1300px){ 
	aside h2 { font-size:34px;}
}

